<div class="container">
  <div class="row">
    <div class="col-sm-12 my-5">
      <h3 class = "col-sm-4 offset-sm-1 mb-3 font-weight-bold bg-light text-center">管理者ログイン</h3>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email, "メールアドレス", class: "col-3" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-3" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード", class: "col-3" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "col-3" %>
        </div>

        <div class="actions offset-sm-3">
          <%= f.submit "ログイン", class: "btn btn-primary btn-sm col-3" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
