<div class="container">
  <div class="row">
    <div class="col-sm-12 my-5">
      <h3 class = "col-sm-4 offset-sm-1 mb-3 font-weight-bold bg-light text-center">新規会員登録</h3>
      <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local:true do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :"名前", class: "col-3" %>
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "（姓）令和", class: "col-3" %>
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "（名）道子", class: "col-3" %>
      </div>

      <div class="field">
        <%= f.label :"フリガナ", class: "col-3" %>
        <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "（セイ）レイワ", class: "col-3" %>
        <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "（メイ）ミチコ", class: "col-3" %>
      </div>

      <div class="field">
        <%= f.label :"メールアドレス", class: "col-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com", class: "col-3" %>
      </div>

      <div class="field">
        <%= f.label :"郵便番号(ハイフンなし)", class: "col-3" %>
        <%= f.text_field :postcode, autofocus: true, autocomplete: "postcode", placeholder: "0000000", class: "col-3" %>
      </div>

      <div class="field">
        <%= f.label :"住所", class: "col-3" %>
        <%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区代々木神園町0-0", class: "col-3" %>
      </div>

      <div class="field">
        <%= f.label :"電話番号(ハイフンなし)", class: "col-3" %>
        <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number", placeholder: "00000000000", class: "col-3" %>
      </div>

      <div class="field">
        <label class="col-3">
          パスワード
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </label>

        <%= f.password_field :password, autocomplete: "new-password", class: "col-3" %>
      </div>

      <div class="field">
        <%= f.label :"パスワード(確認用)", class: "col-3" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-3" %>
      </div>

      <div class="actions offset-sm-3">
        <%= f.submit :"新規登録", class: "btn btn-primary btn-sm col-3" %>
      </div>
      <% end %>

      <div class="my-1 py-2">
        <p class="small">
          既に登録済みの方
          <%= render "public/shared/links" %>
        </p>
      </div>
    </div>
  </div>
</div>

