<div class="container">
  <h3 class="bg-light text-center mt-2">注文情報確認</h3>

  <div class="row my-3">
    <div class="col-sm-8">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="w-50">商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <% item = cart_item.item %>
          <tr>
            <td>
              <%= attachment_image_tag item, :image, fallback: "no-image.png", class: "w-25" %>
              <strong><%= item.name %></strong>
            </td>
            <td>
              <%= item.add_tax_price.to_s(:delimited) %>
            </td>
            <td>
              <%= cart_item.amount %>
            </td>
            <td>
              <%= cart_item.subtotal.to_s(:delimited) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="offset-sm-1 col-sm-3">
      <table class="table table-bordered">
        <tr>
          <th>送料</th>
          <td><%= @order.shipping_cost %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td>
            ¥ <%= @cart_items.sum(&:subtotal).to_s(:delimited) %>
          </td>
        </tr>
        <tr>
          <th>請求金額</th>
          <td>¥ <strong><%= (800 + @cart_items.sum(&:subtotal)).to_s(:delimited) %></strong></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <%= form_with model: @order, url: orders_path, local: true do |f| %>
      <h6 class="font-weight-bold my-3">支払方法</h6>
      <div class="form_payment">
        <%= @order.payment_method %>
        <%= f.hidden_field :payment_method, value: @order.payment_method %>
      </div>
      <h6 class="font-weight-bold my-3">お届け先</h6>
      <div class="form_select_address mb-3">
          <p>
            〒 <%= @order.delivery_postcode %> <%= @order.delivery_address %>
            <br><%= @order.delivery_name %>
          </p>
          <%= f.hidden_field :delivery_postcode, value: @order.delivery_postcode %>
    			<%= f.hidden_field :delivery_address, value: @order.delivery_address %>
    			<%= f.hidden_field :delivery_name, value: @order.delivery_name %>
      </div>
      <div class="form_select_action my-5">
        <%= f.submit "注文を確定する", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>