<div class="container">
  <div class="row">
    <div class="col-sm-12 my-5">
      <h3 class = "col-sm-4 offset-sm-1 mb-3 font-weight-bold bg-light text-center">ログイン</h3>
      <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>

      <div class="field">
        <%= f.label :"メールアドレス", class: "col-3" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com", class: "col-3" %>
      </div>

      <div class="field">
        <label class="col-3">
          パスワード
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %>
        </label>
        <%= f.password_field :password, autocomplete: "new-password", class: "col-3" %>
      </div>

      <div class="actions offset-sm-3">
        <%= f.submit :"ログイン", class: "btn btn-primary btn-sm col-3" %>
      </div>
      <% end %>

      <div class="my-1 py-2">
        <p class="small">
          登録がお済みでない方
          <%= render "public/shared/links" %>
        </p>
      </div>
    </div>
  </div>
</div>