<header class="sticky-top shadow-sm">
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="/"><%= image_tag "logo.jpeg", size:"110" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <% if customer_signed_in? %>
        <span class="text-center">Welcome <strong><%= current_customer.full_name %></strong></span>
      <% end %>
      <ul class="headline navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li><%= link_to "Item", admin_items_path, class: "nav-link text-dark" %></li>
          <li><%= link_to "Customer", admin_customers_path, class: "nav-link text-dark" %></li>
          <li><%= link_to "Order", admin_root_path, class: "nav-link text-dark" %></li>
          <li><%= link_to "Genre", admin_genres_path, class: "nav-link text-dark" %></li>
          <li><%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %></li>
          <%= form_with url: admin_search_path, method: :get, local: true do |f| %>
            <%= f.text_field :keyword, class: "ml-2" %>
            <%= f.submit "検索", class: "btn btn-outline-info btn-sm" %>
          <% end %>
        <% elsif customer_signed_in? %>
          <li><%= link_to "Mypage", mypage_path, class: "nav-link text-dark" %></li>
          <li><%= link_to "Item", items_path, class: "nav-link text-dark" %></li>
          <li><%= link_to "Cart", cart_items_path, class: "nav-link text-dark" %></li>
          <li><%= link_to "Logout", destroy_customer_session_path, method: :delete, class: "nav-link text-dark" %></li>
        <% else %>
          <li><%= link_to "About", about_path, class: "nav-link text-dark" %></li>
          <li><%= link_to "Item", items_path, class: "nav-link text-dark" %></li>
          <li><%= link_to "Signup", new_customer_registration_path, class: "nav-link text-dark" %></li>
          <li><%= link_to "Login", new_customer_session_path, class: "nav-link text-dark" %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>